assets/
node_modules/
# public/
.DS_Store
.env
/main*
*.tsbuildinfo
public/llm/test/*
public/beach
**/dist/**
public/apps/
public/test/*
gitignored/

# Build artifacts that should not be committed
# apps/*/public/
# apps/public/*/
